{% extends 'core/home.html' %}  

{% block content %}
<div class="mt-5">
    <div class="container">
        <button class="btn btn-dark" type="submit"><a href="{% url 'home' %}">Back</a></button>
        <h1>Add costomer</h1>
        <div class="card">
            <form class="row g-3 container titless " method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group m3">
                    <label >Upload image</label>
                    <input required name="logo" type="file"  class="form-control-file">
                </div>
                <div class="form-group m-3">
                    <label >name</label> 
                    <input required name="name" type="text" placeholder="Add your company name">
                </div>
                <div class="form-group m-3">
                    <label  >Select Category</label>
                <select required name="category" class="form-control" aria-placeholder="What is your category" >
                    
                    {% for cat in cats %}
                    <option value="{{cat.id}}">{{cat.name}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group m-3">
                    <label  >Select Category</label>
                <select required name="city" class="form-control" aria-placeholder="Where it your city">
                   
                    {% for c in citss %}
                    <option value="{{c.id}}">{{c.name}}</option>
                    {% endfor %}
                </select>
                </div>
                <div class="form-group m3">
                    <label >Phone1:</label>
                    <input required name="phone1" type="integer"  placeholder="add phone" class="form-control-file">
                </div>
                <div class="form-group m3">
                    <label >Email:</label>
                    <input required name="email" type="email"  placeholder="required " class="form-control-file">
                </div>
                <div class="form-group m3">
                    <label >Location_url :</label>
                    <input required name="location_url" type="url"  placeholder="add https// befor" class="form-control-file">
                </div>
                <div class="form-group m3">
                    <label >Location_imo</label>
                    <input required name="location_imo" type="file"  class="form-control-file">
                </div>
                <div class="form-group m-3">
                    <label >Description</label> 
                    <input required name="desc" type="text" placeholder="add some description">
                </div>
               
            
            <!-- <div class="form-group m3">
                <label >Upload image</label>
                <input required name="images" type="file" multiple class="form-control-file">
            </div> -->
            <button class="btn btn-dark btn-block" type="submit">ADD</button>
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}
    