{% extends 'core/home.html' %}  

{% block content %}
<div class="mt-5">
    <div class="container">
        
        <div class="card" >
            <button style="font-size:30px; " class="btn btn-dark" type="submit"><a style="text-decoration: none; color:gold;" href="{% url 'home' %}">Back</a></button>
            <form method="POST">
                {% csrf_token %}
                {{form}}
                <button class="btn btn-lg"  type="submit">add</button>
            </form>
        </div>
    </div>
</div>
    
{% endblock content %}