<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
   
    <title>Tasks</title>
</head>
<body>
    <nav class="navbar ">
        <div class="container">
            <a class="logo" href="{% url 'home' %}">DOON<span>/WAC</span></a> 
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Welcome</h5><br>{{user.username}}
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                </li>
               
                </ul>

                <ul class="navbar-nav ">
                {% if user.is_authenticated %} 

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'add' %}">Add</a>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'cat' %}">Add category</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'city' %}">Add city</a>
                </li>   
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'promo' %}">Add proms</a>
                </li>      

                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'change' %}">changes</a>
                </li>     

                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">login</a>
                    </li>
                    {% endif %}
                </ul>
                <form class="d-flex mt-3" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
            </div>
        </div>
    </nav>

    {% block content %}
    <section class="hero">
        <div class="container">
            <div class="lift-col">
                <p class="sub">Search and Call <span>easy</span></p>
                <h3>With  <a class="logo" href="">DOON/<span>WAC</span></a></h3>
                <div class="hero-cta">
                    <a class="cta-1" href="">watch how</a>
                    <a class="v-icon" href="">..<i class="fa-solid fa-video">......</i></a>
                </div>
            </div>
            <img src="/static/imo/ybook.png" alt="">
        </div>
    </section>
    <section class="feed row">
        <div class="container">
            <div class="feed-ci">
                <h3> <span> Search By  </span></h3>
                <div class=" row d-flex justify-content-center "> 
                        <form method="GET" action="{% url 'search' %}">
                            {% csrf_token %}
                            {{form.as_p}}
                          <button class="btn btn-outline-success"  type="submit">search</button>
                         </form>
                 </div>            
            
            </div>
        </div>
    </section>
    <section class="row d-flex justify-content-between"> 
        <div class="row" style="margin-bottom: 30px;" >
            <button class="btn btn-dark" type="submit"><a style="text-decoration: none; color:gold; font-size:large; "  href="{% url 'home' %}"> <i style="font-size:large;" class="fa-solid fa-arrows-rotate"></i> Refersh</a></button>
            <table class="table  table-secondary table-striped-columnstable table-striped table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Logo</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>City</th>
                        <th>Phone</th>
                        <th>Email</th>
                        {% if user.is_authenticated %}
                        <th>Update</th>
                        <th>Delet</th>
                        {%endif%}
                    </tr>
                </thead>
                <tbody>
                    {% for x in conts%}
                    <tr >
                        <td>{{forloop.counter}}</td>
                        <td>
                        {%if x.logo%}
                        <img class="table-imag" width="20" src="{{x.logo.url}}" >
                        {%else%}
                        <i class="fa-sharp fa-solid fa-face-smile"></i><i class="fa-sharp fa-solid fa-arrow-right-from-bracket"></i>
                        {%endif%}
                        </td>
                        <td> <a style="text-decoration: none;" href="{% url 'views' x.pk %}">{{x.name}}</a>  </td>
                        <td>{{x.category}}</td>
                        <td>{{x.city}}</td>
                        <td>{{x.phone1}}</td>
                        <td ><a  style="text-decoration: none;" href="{{x.email}}">{{x.email}}</a></td>
                        {% if user.is_authenticated %}
                        <td><a href="{% url 'update' x.id %}"><i class="fa-regular fa-pen-to-square"></i></a></td>
                        <td><a href="{% url 'delete' x.id %}"><i class="fa-solid fa-trash"></i></a></td>
                        {%endif%}
                    </tr>
                    {%endfor%}
                </tbody>
            </table>
        </div>
        <div class="col" >
            <div class="cards">
                {% for prom in promos %}
                <div class="card" >
                    <img src="{{prom.imo.url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <p class="card-text">{{prom.desc}}.</p>
                    </div>
                    {% if user.is_authenticated %}
                    <button class="btn btn-danger" type="submit"><a href="{% url 'pro_del' prom.id %}">delete</a></button>
                    {%endif%}
                </div>
                {% endfor %}
            </div>
            
        </div>
    </section>
    
    
    <section>
        <div class="container">
            <h3>SHARE YOUR THOUGHT</h3>
            <div class="card">
                <form class="row g-3 form " method="POST" >
                    {% csrf_token %}
                     <div class="form-group m-3"><br>
                        <label ></label>
                        <input  name="username" type="text"  class="form-control-file" placeholder="Your name">
                    </div>
                    <div class="form-group m-3">
                        <label  ></label>
                        <input name="email"  type="email" class="form-control-file" placeholder="Your email" >
                    </div>
                   
                    <div class="form-group m-3">
                        <label >message</label><br> 
                        
                        <textarea  name="message" cols="30" rows="10" type="text" placeholder="Fadlan ku qor codsiga aad rabtid hubuna in aad saxdo emailka si lagusoo xiriiro " ></textarea>
                    </div>
                    
                    
                    
                    <button class="btn btn-dark btn-block" type="submit">send</button>
                </form>
            </div>
        </div>
    </section>
    {% endblock content %}

    <section class="footer row">
        <div class="container">
            <p class="feed-ci">
                <h3> <span> Contact Us </span></h3>
                
                <button  class="btn btn-warning "> <a style="text-decoration: none;"  href="https://github.com/Nasir-gaayte?tab=repositories"><i class="fa-brands fa-twitter"></i> @Dadon33</a></button>
                <button  class="btn btn-warning "> <a style="text-decoration: none;"  href="https://github.com/Nasir-gaayte?tab=repositories"><i class="fa-brands fa-facebook"></i> don-go-web</a></button>
                <button  class="btn btn-warning "> <a style="text-decoration: none;"  href="https://github.com/Nasir-gaayte?tab=repositories"> <i class="fa-brands fa-github"></i> @don33</a></button>
                <button  class="btn btn-warning "> <a style="text-decoration: none;"  href="https://github.com/Nasir-gaayte?tab=repositories"> <i class="fa-solid fa-envelope"></i> info@dadon.com</a></button>
                
            </p>
            <hr>
            <div class="container">
                    <div class=" row d-flex justify-content-center align-items-center "> 
                        <div class="col" style="margin-right: 5px;"> 
                           <p>copyright <i class="fa-solid fa-copyright"></i> don-go-web.dadon.com  </p>
                        </div>
                        <div class="col">
                            <p>Nasir-gaayte</p>
                        </div>
                    </div>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>

</body>
</html>