<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <title>Tasks</title>
</head>
<body>
    <h1>home</h1>
    <div class="navbar">
        <div class="container">
            <a href="">DOON<span>WAC</span></a> 


            <img src="/static/imo/menu.svg" alt="">
            <nav>
                <ul class="nav-u1">
                    <li class="nav-home"><a href="">HOME</a></li>
                    <li> <a href="">CATEGORY</a></li>
                    <li><a href="">LETTER</a></li>
                </ul>
                <ul class="nav-u2">
                    <li><a href="">Contact</a></li>
                    <li>
                        <input type="search" value="", placeholder="Search">
                    </li>
                </ul>

            </nav>
        </div>
    </div>
</body>
</html>