<div class="container mt-5 mb-5">

    <table class="table table-striped table-hover">
    <thead class="shadow-sm">
      <tr>
        <th></th>
        <th scope="col">Open</th>
        <th scope="col">Close</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th width="8%">Saturday</th>
        <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">9:00 AM</option>
        <option>5:00 AM</option>
           <option>6:00 AM</option>
           <option>7:00 AM</option>
           <option>8:00 AM</option>
           <option>10:00 AM</option>
           <option>11:00 AM</option>
           <option>12:00 PM</option>
           <option>1:00 PM</option>
          <option>Closed</option>
      </select></td>
        <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">5:00 PM</option>
        <option>12:00 PM</option>
           <option>1:00 PM</option>
           <option>2:00 PM</option>
           <option>3:00 PM</option>
           <option>4:00 AM</option>
           <option>6:00 AM</option>
           <option>7:00 PM</option>
           <option>8:00 PM</option>
           <option>Closed</option>
      </select></td>
      </tr>
      <tr>
        <th scope="row">Sunday</th>
          <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">Closed</option>
        <option>5:00 AM</option>
           <option>6:00 AM</option>
           <option>7:00 AM</option>
           <option>8:00 AM</option>
             <option>9:00 AM</option>
           <option>10:00 AM</option>
           <option>11:00 AM</option>
           <option>12:00 PM</option>
           <option>1:00 PM</option>
      </select></td>
        <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">Closed</option>
        <option>12:00 PM</option>
           <option>1:00 PM</option>
           <option>2:00 PM</option>
           <option>3:00 PM</option>
           <option>4:00 PM</option>
           <option>5:00 PM</option>
           <option>6:00 PM</option>
           <option>7:00 PM</option>
           <option>8:00 PM</option>
      </select></td>
      </tr>
      <tr>
        <th scope="row">Monday</th>
         <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">9:00 AM</option>
        <option>5:00 AM</option>
           <option>6:00 AM</option>
           <option>7:00 AM</option>
           <option>8:00 AM</option>
           <option>10:00 AM</option>
           <option>11:00 AM</option>
           <option>12:00 PM</option>
           <option>1:00 PM</option>
          <option>Closed</option>
      </select></td>
        <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">5:00 PM</option>
        <option>12:00 PM</option>
           <option>1:00 PM</option>
           <option>2:00 PM</option>
           <option>3:00 PM</option>
           <option>4:00 PM</option>
           <option>6:00 PM</option>
           <option>7:00 PM</option>
           <option>8:00 PM</option>
           <option>Closed</option>
      </select></td>
      </tr>
       <tr>
        <th scope="row">Tuesday</th>
          <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">9:00 AM</option>
        <option>5:00 AM</option>
           <option>6:00 AM</option>
           <option>7:00 AM</option>
           <option>8:00 AM</option>
           <option>10:00 AM</option>
           <option>11:00 AM</option>
           <option>12:00 PM</option>
           <option>1:00 PM</option>
          <option>Closed</option>
      </select></td>
        <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">5:00 PM</option>
        <option>12:00 PM</option>
           <option>1:00 PM</option>
           <option>2:00 PM</option>
           <option>3:00 PM</option>
           <option>4:00 PM</option>
           <option>6:00 PM</option>
           <option>7:00 PM</option>
           <option>8:00 PM</option>
           <option>Closed</option>
      </select></td>
      </tr>
       <tr>
        <th scope="row">Wednesday</th>
           <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">9:00 AM</option>
        <option>5:00 AM</option>
           <option>6:00 AM</option>
           <option>7:00 AM</option>
           <option>8:00 AM</option>
           <option>10:00 AM</option>
           <option>11:00 AM</option>
           <option>12:00 PM</option>
           <option>1:00 PM</option>
          <option>Closed</option>
      </select></td>
        <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">5:00 PM</option>
        <option>12:00 PM</option>
           <option>1:00 PM</option>
           <option>2:00 PM</option>
           <option>3:00 PM</option>
           <option>4:00 PM</option>
           <option>6:00 PM</option>
           <option>7:00 PM</option>
           <option>8:00 PM</option>
           <option>Closed</option>
      </select></td>
      </tr>
       <tr>
        <th scope="row">Thursday</th>
         <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">9:00 AM</option>
        <option>5:00 AM</option>
           <option>6:00 AM</option>
           <option>7:00 AM</option>
           <option>8:00 AM</option>
           <option>10:00 AM</option>
           <option>11:00 AM</option>
           <option>12:00 PM</option>
           <option>1:00 PM</option>
          <option>Closed</option>
      </select></td>
        <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">5:00 PM</option>
        <option>12:00 PM</option>
           <option>1:00 PM</option>
           <option>2:00 PM</option>
           <option>3:00 PM</option>
           <option>4:00 PM</option>
           <option>6:00 PM</option>
           <option>7:00 PM</option>
           <option>8:00 PM</option>
           <option>Closed</option>
      </select></td>
      </tr>
       <tr>
        <th scope="row">Friday</th>
         <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">9:00 AM</option>
        <option>5:00 AM</option>
           <option>6:00 AM</option>
           <option>7:00 AM</option>
           <option>8:00 AM</option>
           <option>10:00 AM</option>
           <option>11:00 AM</option>
           <option>12:00 PM</option>
           <option>1:00 PM</option>
          <option>Closed</option>
      </select></td>
        <td><select class="form-select" id="validationCustom04" required><option selected disabled value="">5:00 PM</option>
        <option>12:00 PM</option>
           <option>1:00 PM</option>
           <option>2:00 PM</option>
           <option>3:00 PM</option>
           <option>4:00 PM</option>
           <option>6:00 PM</option>
           <option>7:00 PM</option>
           <option>8:00 PM</option>
           <option>Closed</option>
      </select></td>
      </tr>
    </tbody>
  </table>
   