{% extends "core/home.html" %}

{% block content %}
    <div class="mt-5">
        <div class="container">
            <button class="btn btn-dark" type="submit"><a href="{% url 'home' %}">Back</a></button>
            <h1>Login</h1>
            <div class="card">
                <form class="form" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <button class="btn btn-success btn-block" type="submit">Registed</button>
                </form>
            </div>
        </div>
    </div>
{% endblock content %}
    